<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("../css/media.css")" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header"><img src="/images/Logo - BrainBoost.png" alt="Logo" style="width: 50px; margin-right: 10px"></div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <span class="navbar-brand">BrainBoost</span>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li> <a> Dear - @User.Identity.Name </a> </li>
                        <li>@Html.ActionLink("Logout", "Logout", "Accounts", null, new { style = "font-size: 16px;" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Accounts", null, new { style = "font-size: 16px;" })</li>

                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
