@model IEnumerable<YRPortal.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>My Tasks</h2>
<div>
    <a href="/Task/Create" type="button" class="btn btn-primary" style=" background-color: #193441; margin-bottom: 1%;}">Create a new task</a>
</div>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Content
        </th>
        <th>
            Deadline
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deadline)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new {style ="color: red;"})
            </td>
        </tr>
    }

</table>
<div>
    <a href="/Courses/StudentView" type="button" class="btn btn-primary" style=" background-color: #193441;position: relative; float: right; margin-top: 2%; margin-right: 1%;">Back</a>
</div>
