@model IEnumerable<YRPortal.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Courses</h2>
<div>
    <a href="/Courses/Create" type="button" class="btn btn-primary" style=" background-color: #193441; margin-bottom: 1%;}">Create a new course</a>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseID }, new { style= "color: red" })
            </td>
        </tr>
    }



</table>  
<div>
    <a href="/Logins/Index" type="button" class="btn btn-primary" style=" background-color: #193441;position: relative; float: right; margin-top: 2%; margin-right: 1%;">Back</a>
</div>