@model IEnumerable<YRPortal.Models.Note>

@{
    ViewBag.Title = "Index";
}

<h2>My Notes</h2>
<div>
    <a href="/Notes/Create" type="button" class="btn btn-primary" style=" background-color: #193441; margin-bottom: 1%;}">Create new note</a>
</div>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Content
        </th>
        <th>
           Status
        </th>
        <th>
            Course Name
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                <a href="@Url.Action("DisplayFile", "Notes", new { filePath = item.content })">Download File</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseName)
            </td>

            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new {style = "color: red;"})
            </td>
        </tr>
    }

</table>

