@model YRPortal.Models.Review

@{
    ViewBag.Title = "Create";
}

<link href="@Url.Content("~/css/Create.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/media.css")" rel="stylesheet" type="text/css" />


<h2>Create a new review</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CourseName, "CourseName", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CourseName", null, htmlAttributes: new { @class = "form-control drop" })
                @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Explanation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="star-rating">
                    <input type="radio" id="explanation-5" name="explanation" value="5" />
                    <label for="explanation-5" title="5 stars"></label>
                    <input type="radio" id="explanation-4" name="explanation" value="4" />
                    <label for="explanation-4" title="4 stars"></label>
                    <input type="radio" id="explanation-3" name="explanation" value="3" />
                    <label for="explanation-3" title="3 stars"></label>
                    <input type="radio" id="explanation-2" name="explanation" value="2" />
                    <label for="explanation-2" title="2 stars"></label>
                    <input type="radio" id="explanation-1" name="explanation" value="1" />
                    <label for="explanation-1" title="1 star"></label>
                </div>
                @Html.ValidationMessageFor(model => model.Explanation, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="star-rating">
                    <input type="radio" id="content-5" name="content" value="5" />
                    <label for="content-5" title="5 stars"></label>
                    <input type="radio" id="content-4" name="content" value="4" />
                    <label for="content-4" title="4 stars"></label>
                    <input type="radio" id="content-3" name="content" value="3" />
                    <label for="content-3" title="3 stars"></label>
                    <input type="radio" id="content-2" name="content" value="2" />
                    <label for="content-2" title="2 stars"></label>
                    <input type="radio" id="content-1" name="content" value="1" />
                    <label for="content-1" title="1 star"></label>
                </div>
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Relevance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="star-rating">
                    <input type="radio" id="relevance-5" name="relevance" value="5" />
                    <label for="relevance-5" title="5 stars"></label>
                    <input type="radio" id="relevance-4" name="relevance" value="4" />
                    <label for="relevance-4" title="4 stars"></label>
                    <input type="radio" id="relevance-3" name="relevance" value="3" />
                    <label for="relevance-3" title="3 stars"></label>
                    <input type="radio" id="relevance-2" name="relevance" value="2" />
                    <label for="relevance-2" title="2 stars"></label>
                    <input type="radio" id="relevance-1" name="relevance" value="1" />
                    <label for="relevance-1" title="1 star"></label>
                </div>
                @Html.ValidationMessageFor(model => model.Relevance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    <a href="/Reviews/Index" type="button" class="btn btn-primary" style=" background-color: #193441;position: relative; float: right; margin-top: 2%; margin-right: 1%;">Check previous reviews</a>
</div>
