@model IEnumerable<YRPortal.Models.Instructor>

@{
    ViewBag.Title = "Index";
}

<h2>List of Instructors</h2>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.InstructorID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.InstructorID })
            </td>
            <td>
                <form action="/Instructors/AssignList" method="post">
                    <input type="hidden" name="id" value="@item.InstructorID" />
                    <button type="submit" class="btn btn-primary" style=" background-color: #193441;">Assign Courses</button>
                </form>
            </td>
        </tr>
    }

</table>
<div>
    <a href="/Logins/Index" type="button" class="btn btn-primary" style=" background-color: #193441;position: relative; float: right; margin-top: 2%; margin-right: 1%;">Back</a>
</div>
